<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-img [src]="imageSrc" (click)="pickPhoto()" class="user-photo"></ion-img>
  </ion-item>
  <ion-buttons slot="end">
    <ion-button color="primary">
      <ion-icon slot="icon-only" name="images-outline" (click)="pickPhoto()"></ion-icon>
    </ion-button>
    <ion-button color="primary">
      <ion-icon slot="icon-only" name="location-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-content>
