<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-img [src]="imageSrc"></ion-img>
  </ion-item>
    <ion-button color="primary " (click)="pickPhoto()" size="large">
      <ion-icon slot="icon-only" name="images-outline"></ion-icon>
    </ion-button>
    <ion-button color="primary" size="medium">
      <ion-icon slot="start" name="location-outline"></ion-icon>
    </ion-button>
</ion-content>
